<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Access Denied</h6>
        </div>
        <div class="card-body">
        <div class="container-fluid">
            <p>You do not have permission to view this page.</p>
            <p>Please contact your administrator if you believe this is a mistake.</p>
            <a href="@Url.Action("Index", "Blog")">Go back to the Blog</a>
        </div>
        </div>
    </div>
</div>

